/Instagram_Backend/target/
/Instagram_Backend/src/main/resources/application.properties
/Instagram_Backend/.idea
/Instagram_Backend/.mvn/
/Instagram_Backend/instagram_clone.iml
/Instagram_Backend/mvnw.cmd
/Instagram_Backend/mvnw
/Instagram_Frontend/package-lock.json
/Instagram_Frontend/package.json
/Instagram_Frontend/tsconfig.json
/Instagram_Frontend/node_modules/
.idea
Instagram_Backend/src/main/resources/postman/